* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

@font-face {
  font-family: regular;
  src: url(./QlddNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLyya15.woff2);
}
.main {
  position: relative;
  width: 100%;
  font-family: regular;
}

.page1 {
  position: relative;
  height: 50vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5vw;
}

nav > h3 {
  font-weight: 900;
}

.page1-text {
  position: relative;
  text-align: center;
  margin-top: 6vw;
}

.page1-text > h1 {
  font-size: 4.5vw;
  font-weight: 900;
  width: 90%;
  margin: 0 auto;
  line-height: 1;
  letter-spacing: -3px;
}

.page1-text > h3 {
  margin-top: 2.5vw;
  font-size: 1.3vw;
  font-weight: 500;
}

.page2 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.page2::-webkit-scrollbar {
  display: none;
}

.page2-img {
  position: relative;
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  overflow: hidden;
}

.page2-img > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page3 {
  position: relative;
  height: 50vh;
  width: 100%;
  padding: 1.5vw;
  padding-top: 1vw;
}

.page3 > h1 {
  font-family: gilroy;
  font-weight: 800;
  font-size: 8vw;
}

.page3 > h3 {
  font-weight: 500;
  margin-top: 2vw;
}

.page4 {
  position: relative;
  height: 80vh;
  width: 100%;
  /* background-color: salmon; */
}

.line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.page4-elem {
  position: relative;
  width: 50%;
  /* height: 26.6vh; */
  height: 8vh;
  padding: 1vw;
  padding-top: 0.5vw;
  overflow: hidden;
}

.page4-elem-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5vw;
}

.plus {
  position: relative;
}

.plus1 {
  position: relative;
  height: 2px;
  width: 1vw;
  background-color: #000;
}

.plus2 {
  position: absolute;
  top: 0;
  height: 2px;
  width: 1vw;
  background-color: #000;
  transform: rotate(90deg);
}

.page4-elem-heading > h1 {
  font-weight: 900;
  font-size: 1.8vw;
}

.page4-elem > h3 {
  margin-top: 1vw;
  font-weight: 500;
  font-size: 1.3vw;
}

.page5 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.page5::-webkit-scrollbar {
  display: none;
}

.page5-img {
  position: relative;
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  overflow: hidden;
}

.page5-img > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page6 {
  position: relative;
  height: 85vh;
  width: 100%;
  background-color: #ff2a1d;
}

.page6 > h1 {
  font-size: 8vw;
  padding: 1.5vw;
  padding-top: 0;
  font-weight: 900;
}

.page6-text {
  position: relative;
  padding: 1.5vw;
}

.page6-text1 > h1 {
  position: relative;
  display: inline-block;
  font-size: 5vw;
  font-weight: 900;
  font-family: gilroy;
  cursor: pointer;
  transition: all ease 0.5s;
}

.page6-text1 > h1:hover {
  color: #eeeeee;
}

.page6-text1 > h2 {
  position: relative;
  display: inline-block;
  font-size: 5vw;
  font-weight: 900;
  font-family: gilroy;
}

.page6-text1 > h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 8px;
  background-color: #000;
  transition: all ease 0.5s;
}

.page6-text1 > h1:hover::after {
  background-color: #eeeeee;
  width: 100%;
}

.page7 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.page7::-webkit-scrollbar {
  display: none;
}

.page7-img {
  position: relative;
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  overflow: hidden;
}

.page7-img > img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page8 {
  position: relative;
  height: 50vh;
  width: 100%;
}

.page8 > h1 {
  position: sticky;
  top: 0;
  font-size: 8vw;
  padding: 1.5vw;
  padding-top: 0;
  font-weight: 900;
}

.page9 {
  position: relative;
  height: 30vh;
  width: 100%;
}

.page9-elem-box {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
}

.page9-elem {
  padding: 1.5vw;
  position: relative;
  width: calc(100% / 4);
  height: 100%;
}

.page9-elem > h1 {
  font-weight: 900;
  font-size: 1.9vw;
}

.page9-elem > p {
  font-weight: 500;
  margin-top: 1vw;
  width: 90%;
}

.page9-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw;
}

.page9-footer-left {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.page9-footer i {
  font-size: 1.5vw;
}

.page9-footer-left > h3 {
  font-weight: 400;
}

.page10 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ff2a1d;
  padding: 1.5vw;
  font-family: gilroy;
}

.page10 > h1 {
  font-size: 5vw;
  font-weight: 700;
  line-height: 1;
}

.page10 > h1:nth-child(1) {
  margin-left: 8vw;
}

.page10 > h1:nth-child(2) {
  margin-top: 2vw;
}

.page10 > h1:nth-child(3) {
  margin-top: 4vw;
  text-align: end;
  margin-right: 12vw;
}

.page10 > h1:nth-child(4) {
  margin-top: 2vw;
}
